<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='icons/GeoSQTB vector logo.png') }}" alt="GeoSQTB Logo" style="height: 50px; margin-right: 10px;">
        <h1>Registered Users</h1>
    </header>
    <main>
        <section id="user-list-container">
            <h2>Users</h2>
            <ul id="user-list">
                <!-- User items will be added here by JavaScript -->
            </ul>
        </section>
        <div class="create-user-form">
            <input type="text" id="new-user-name" placeholder="Enter user name" class="user-input">
            <button id="create-user-button" onclick="createUser()">Create New User</button>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html> 